@model IEnumerable<Book>
@{
    ViewData["Title"] = "Czytelnia";
}

<div class="text-center">
    <h1 class="display-4">Dodane książki</h1>
</div>
<table style="width: 100%">
    <tr>
        <th>Tytuł</th>
        <th>Autor</th>
    </tr>
    <tr>
        <td>Tytuł test 1</td>
        <td>Autor test 1</td>
    </tr>
    <tr>
        <td>Tytuł test 2</td>
        <td>Autor test 2</td>
    </tr>
</table>